certifi==2022.6.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.0.4
docopt==0.6.2
Flask==2.0.3
idna==3.3
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pipreqs
PyYAML
requests
tgt
urllib3
Werkzeug
yarg
zipp
