anyio==3.6.2
certifi==2022.9.24
chardet==5.0.0
charset-normalizer==2.1.1
click==8.0.4
fastapi
h11
httptools
idna
Jinja2
MarkupSafe
numpy
phonetisaurus
psutil
pydantic
python-dotenv
python-multipart
PyYAML
requests
six
sniffio
starlette
tgt
typing-extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
