{% extends 'base.html' %}

{% block head %}
<h4> Generating Alignment ... </h4>
{% endblock %}

{% block body %}

<style>
	a:link, a:visited {
	  background-color: white;
	  color: black;
	  border: 2px solid green;
	  padding: 10px 20px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	
	a:hover, a:active {
	  background-color: green;
	  color: white;
	}
</style>

<div style="text-align:center">
	<img class="center" src="{{ img }}">
	<a href='/' target="">Align new file</a> 
	<a href='/done/{{lang}}' target="">Aligned files</a> 

</div>





<!-- <a href="/"><p style="text-align:center">Align New File</p></a> -->




<script type="text/javascript">

	var request = new XMLHttpRequest();
	var name = "{{ bname }}"
	var lang = "{{ lang }}"
	request.open('POST', '/processing/'+lang+'/'+name);

	request.onload = function() {
	  if (request.status === 200 && request.responseText === 'done') {
	    // window.location = '/success/'+name;
		window.location = '/done/'+lang
	  } else {
	    alert('Something went wrong.');
	  }
	};

	request.onerror = function() {
	  alert('Something went wrong.');
	};

	request.send();
</script>
{% endblock %}